<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Декларация Bean-->
<!--    Id необходим если мы хотим инжектировать bean и для этого мы вставляем id-->
    <bean class="by.itacademy.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I`ll be back"/>
    </bean>

<!--    Инфраструктурный bean-->
    <bean class="by.itacademy.InjectRandomIntAnnotationBeanPostProcessor"/>



</beans>